<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/landing.css" />
  </head>
  <body>
    <section class="page--landing">
      <h1 class="page-header spinable">Hello World</h1>
      <div class="perspective-flipper">
        <img class="big-image flipable" src="/landing.jpg" />
      </div>
    </section>
  </body>
</html>
