.page--more {
  background-color: white;
  padding: 0 2em 1em;
  min-height: calc(100vh - 1em);
}

.more__title {
  border-top: 0.25em solid #0003;
  color: black;
  font-family: sans-serif;
  font-size: 1.85rem;
  margin: 1em auto;
  max-width: 1100px;
  padding-top: 0.25em;
  text-align: center;
}

.more__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 1100px;
}
