body {
  background-color: #000;
  color: #eee;
  margin: 0;
  overflow-x: hidden;
}

.page--landing {
  min-height: calc(100vh - 4em);
  padding: 2em;
}

.page-header {
  border-bottom: 0.25em solid #fff3;
  font-family: sans-serif;
  font-size: 2rem;
  margin: 1em;
  text-align: center;
}

.big-image {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  width: 940px;
}

.button--primary,
.button--tertiary {
  cursor: pointer;
  opacity: 0.75;
  outline: none;
  max-width: 100%;
}

.button--primary:hover,
.button--primary:focus,
.button--primary:active,
.button--tertiary:hover,
.button--tertiary:focus,
.button--tertiary:active {
  opacity: 1;
}

.button--primary:active {
  color: #fff;
}

.button--primary {
  background: black;
  border: 0.25em solid #0f0a;
  color: #0f0a;
  display: block;
  font-size: 1rem;
  margin: 1em auto;
  padding: 0.25em;
  text-transform: uppercase;
  width: 300px;
}
