.button--tertiary {
  background: black;
  border: none;
  color: #0f0a;
  display: block;
  font-size: 0.8rem;
  margin: 1em auto;
  padding: 0.25em;
  text-transform: uppercase;
  width: 300px;
}

.button--tertiary:active {
  color: #fff;
}
